[submodule "web-v2"]
	path = web-v2
	url = https://github.com/Mccullahz/web-v2


[submodule "projects/react-app"]
	path = web-v2/projects/react-app
	url = https://github.com/Mccullahz/web-v2/projects/react-app
	