:root {

    /*
      colors
   */
  
    --sonic-silver: hsl(0, 0%, 46%);
    --spanish-gray: hsl(0, 0%, 60%);
    --theme-color: hsl(202, 100%, 57%);
    --light-gray: hsl(0, 0%, 80%);
    --gray-x-11: hsl(0, 0%, 73%);
    --dim-gray: hsl(0, 0%, 44%);
    --cultured: hsl(0, 0%, 98%);
    --black_10: hsl(0, 0%, 0%, 0.1);
    --black_20: hsl(0, 0%, 0%, 0.2);
    --black_30: hsl(0, 0%, 0%, 0.3);
    --black_70: hsl(0, 0%, 0%, 0.7);
    --white_10: hsl(0, 0%, 100%, 0.1);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
  
    /*
     fonts
   */
  
    --ff-poppins: 'Poppins', sans-serif;
    --ff-mulish: 'Mulish', sans-serif;
  
    --fs-35: 3.5rem;
    --fs-30: 3rem;
    --fs-25: 2.5rem;
    --fs-18: 1.8rem;
    --fs-17: 1.7rem;
    --fs-13: 1.3rem;
  
    --fw-800: 800;
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;
  
    /*
     spacing
   */
  
    --section-padding: 80px;
  
    /*
     shadow
   */
  
    --shadow: 0 0 20px hsla(0, 0%, 0%, 0.08);
  
    /*
     radius
   */
  
    --radius-10: 10px;
    --radius-8: 8px;
  
    /*
     transition
   */
  
    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  
  }
  
  
  
  
  
  /*
    #RESET
  */
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a,
  img,
  span,
  input,
  button,
  textarea,
  ion-icon { display: block; }
  
  img { height: auto; }
  
  input,
  button,
  textarea {
    background: none;
    border: none;
    font: inherit;
  }
  
  input,
  textarea { width: 100%; }
  
  button { cursor: pointer; }
  
  ion-icon { pointer-events: none; }
  
  address { font-style: normal; }
  
  html {
    font-family: var(--ff-mulish);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #D2DBDD;
    color: var(--sonic-silver);
    font-size: 1.6rem;
    line-height: 1.75;
    letter-spacing: 0.2px;
  }
  
  :focus-visible { outline-offset: 4px; }
  
  ::placeholder { color: var(--dim-gray); }
  
  ::-webkit-scrollbar {
    width: 12px;
    height: 2px;
  }
  
    body::-webkit-scrollbar-track { background-color: #D2DBDD; }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--spanish-gray);
    border: 3px solid #D2DBDD;
    border-radius: 50px;
  }
  
  
  
  
  
  /*
    #REUSED STYLE
  */
  
  .container { padding-inline: 30px; }
  
  .section { padding-block: var(--section-padding); }
  
  .img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--light-gray);
    overflow: hidden;
  }
  
  .has-before {
    position: relative;
    z-index: 1;
  }
  
  .has-before::before {
    position: absolute;
    content: "";
  }
  
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .section-subtitle {
    color: var(--theme-color);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    margin-block-end: 6px;
  }
  
  .h1,
  .h2,
  .h3 {
    color: var(--black);
    font-family: var(--ff-poppins);
  }
  
  .h1 { font-size: var(--fs-30); }
  
  .h1,
  .h2 {
    font-weight: var(--fw-800);
    text-transform: uppercase;
  }
  
  .h2 {
    font-size: var(--fs-25);
    line-height: 1.2;
  }
  
  .h1,
  .h3 { line-height: 1.4; }
  
  .h3 { font-size: var(--fs-18); }
  
  .section-title { margin-block-end: 40px; }
  
  :is(.education) .section-title { margin-block-end: 60px; }
  
  .has-scrollbar {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-block-end: 30px;
    margin-block-end: -15px;
    scroll-snap-type: inline mandatory;
  }
  
  .scrollbar-item {
    min-width: 100%;
    scroll-snap-align: start;
  }
  
  .has-scrollbar::-webkit-scrollbar-track { background-color: var(--black_20); }
  
  .has-scrollbar::-webkit-scrollbar-thumb { background-color: var(--black_70); }
  
  .has-scrollbar::-webkit-scrollbar-button { width: calc(25% - 25px); }
  
  
  
  
  /*
    #HEADER
  */
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D2DBDD;
    padding-block: 15px;
    border-block-end: 1px solid var(--black_10);
    z-index: 4;
  }
  
  .header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  
  .logo {
    color: var(--black);
    font-family: var(--ff-poppins);
    font-size: 3.2rem;
    line-height: 0.9;
    font-weight: var(--fw-700);
  }
  
  .nav-toggle-btn .line {
    width: 30px;
    height: 2px;
    background-color: var(--black);
    transition: var(--transition);
  }
  
  .nav-toggle-btn .line:not(:last-child) { margin-block-end: 8px; }
  
  .nav-toggle-btn.active .line-1 { transform: translateY(10px) rotate(45deg); }
  
  .nav-toggle-btn.active .line-2 {
    transform: translateX(-100%);
    opacity: 0;
  }
  
  .nav-toggle-btn.active .line-3 { transform: translateY(-10px) rotate(-45deg); }
  
  .navbar {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    background-color: #D2DBDD;
    padding-inline: 30px;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.3s var(--cubic-out);
  }
  
  .navbar.active {
    max-height: 250px;
    visibility: visible;
    transition-duration: 0.5s;
  }
  
  .navbar-list { margin-block: 25px; }
  
  .navbar-link {
    color: var(--black);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
  }
  
  
  
  /*
    #FOOTER
  */
  
  .footer {
    bottom: 0;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding-block: 30px;
    width: 100%;
    display: flex;
  }
  
  .social-list {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-link { font-size: 20px; }
  
  
  
  
  
  /*
    #MEDIA QUERIES
  */
  
  /*
   responsive for larger than 576px screen
  */
  
  @media (min-width: 576px) {
  
    /*
      REUSED STYLE
   */
  
    .scrollbar-item { min-width: calc(50% - 20px); }
  
  /*
   responsive for larger than 768px screen
  */
  
  @media (min-width: 768px) {
  
    /*
     CUSTOM PROPERTY
   */
  
    :root {
  
      /*
       fonts
     */
  
      --fs-30: 3.5rem;
      --fs-25: 3rem;
  
    }
  
}
  
    /*
     REUSED STYLE
    */
  
    .h3 { --fs-18: 2rem; }
  
    .card-content { padding: 30px 35px; }
  
    .card-content > ion-icon {
      top: 30px;
      right: 30px;
    }
    /*
     FOOTER
    */
  
    .footer .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    
  
  }
 
  /*
   responsive for larger than 992px screen
  */
  
  @media (min-width: 992px) {
  
    /*
     CUSTOM PROPERTY
   */
  
    :root {
  
      /*
       fonts
     */
  
      --fs-35: 4.5rem;
  
      /*
       spacing
     */
  
      --section-padding: 120px;
  
    }
    
}
  
    /*
     REUSED STYLE
   */
  
    .container { padding-inline: 50px; }
  
  
  
    /*
     HEADER
   */
  
    .header {
      background-color: transparent;
      border-block-end: none;
      padding-block: 25px;
      transition: var(--transition);
    }
  
    .header.active {
      background-color: #D2DBDD;
      padding-block: 20px;
    }
  
    .navbar,
    .navbar.active {
      all: unset;
      margin-inline-start: auto;
      transition: var(--transition);
    }
  
    .navbar { visibility: hidden; }
  
    .navbar.active { visibility: visible; }
  
    .navbar-list {
      display: flex;
      gap: 20px;
      margin-block: 0;
    }
  
    .navbar-link {
      opacity: 0;
      transform: translateX(20px);
      font-weight: var(--fw-400);
      transition: var(--transition);
    }
  
    .navbar.active .navbar-link {
      opacity: 1;
      transform: translateX(0);
    }
  
    .navbar-link:is(:hover, :focus) { color: var(--theme-color); }
  


  
  /*
   responsive for larger than 1200px screen
  */
  
  @media (min-width: 1200px) {
  
    /*
     REUSED STYLE
    */
  
    .container {
      max-width: 1170px;
      width: 100%;
      margin-inline: auto;
    }
  
    .has-scrollbar { gap: 40px; }
  
    .scrollbar-item { min-width: calc(33.33% - 26.66px); }
  
    :is(.education,) .section-title { margin-block-end: 80px; }
  
  }