/* ==========================
   Terminal Specific Styles
========================== */

.terminal {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: monospace;
  padding: 2rem;
  height: 80vh;
  margin-top: 7rem;
  box-sizing: border-box;
  overflow-y: auto;
  cursor: text;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.terminal-header {
  display: flex;
  justify-content: center;
  align-text: center;
  padding: 1rem;
  background-color: var(--color-dark);
  border-bottom: 1px solid var(--color-light);
}
.terminal-header-title {
  font-size: 1.6rem;
  color: var(--color-light);
  margin-left: auto;
}

.terminal-header-buttons{
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.terminal-button-green .ion-icon {
  color: var(--color-green);
}
.terminal-button-yellow .ion-icon {
  color: var(--color-yellow);
}
.terminal-button-red .ion-icon {
  color: var(--color-red);
}


.terminal-output {
  flex: 1;
  white-space: pre-wrap;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.terminal-line {
  line-height: 1.4;
}

.terminal-input-line {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
}

.terminal-prompt {
  margin-right: 0.5rem;
  color: var(--color-theme);
  font-size: 2rem;
}

.terminal-input {
  flex: 1;
  background: transparent;
  border: none;
  color: var(--color-theme);
  outline: none;
  font-family: inherit;
  font-size: 2rem;
}

.terminal-input::placeholder {
  color: #0f05;
}



/* ========================== 
   	PMS styles	
 ========================== */
.sim-container {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  justify-content: center;
}

.process-sim h2{
  font-size: 2.4rem;
  color: var(--color-theme);
  margin-bottom: 1rem;
}

.process-sim p{
  font-size: 1.6rem;
  color: var(--color-dark);
  margin-bottom: 2rem;
}
